/*
    @@@T4AssetType = media
    @@@T4AssetID = 6457
*/
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  // font-family: "Times New Roman", serif;
  background: rgb(31, 115, 55);
}
a {
  color: white;
  text-decoration-style: dotted;
  &:hover {
    text-decoration: none;
    color: #ddd;
  }
}
.container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  padding: 1rem;
  max-width: 75em;
  border: 1px solid transparent;
  background-color: rgba(0, 0, 0, .2);
  border-radius: .25rem;
  &:before,
  &:after {
    content: '';
    display: table;
  }
  &:after {
    clear: both;
  }
}

.main-content {
  width: 75%;
  float: left;
}

.sidebar {
  width: calc(25% - 2px);
  float: right;
  min-height: 87.5vh;
  padding: 0 1rem 1rem 1rem;
  background: rgba(0, 0, 0, .2);
  border: 1px solid transparent;
  border-radius: .25rem;
}
